
ApplicationCore/.DS_Store
MovieShopMVC/.DS_Store
.DS_Store
MovieShopMVC/bin/Debug/net6.0/appsettings.json
MovieShopMVC/bin/Debug/net6.0/appsettings.json
MovieShopMVC/bin/Debug/net6.0/appsettings.json
